<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617262851392-j7j7gh0djkhob28caa00k9l9sgjtkjvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617262851392-j7j7gh0djkhob28caa00k9l9sgjtkjvm</string>
	<key>API_KEY</key>
	<string>AIzaSyCzW510Dsi4rPn7MXhu2XZo5e4avwE6lJM</string>
	<key>GCM_SENDER_ID</key>
	<string>617262851392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taetae98.CodeLab</string>
	<key>PROJECT_ID</key>
	<string>codelab-11dab</string>
	<key>STORAGE_BUCKET</key>
	<string>codelab-11dab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617262851392:ios:ec0910e8da483e24ba86a5</string>
</dict>
</plist>